<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Vehicle make:</strong>
  <%= @user.vehicle_make %>
</p>

<p>
  <strong>Vehicle model:</strong>
  <%= @user.vehicle_model %>
</p>

<p>
  <strong>Vehicle year:</strong>
  <%= @user.vehicle_year %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
